body{
width: 100%;
margin: 1em auto;
font-family: "方正新书宋_GBK", "Kaiti SC", Georgia, 'Times New Roman', Times, serif;
font-size: 25px;
}
h1.en, h2.en, h3.en, h4.en, h5.en, h6.en,p.en{
/* display: none; */
}
p{
margin-bottom: 1em !important;
font-size: 18px !important;
padding-left: 10px;
padding-right: 1px;
text-indent:2em;
}
p.cn{
letter-spacing: 0.05em;
padding: 20px;
}
p.en{
padding: 20px;
line-height: 1.4em;
}
p.chap, p.chap1{
padding: 0;
padding-left: 50px;
padding-right: 20px;
}
img{
width: 90% !important;
text-align: center !important;
}
h1,h2,h3,h4,h5,h6{
text-align:center;
/* font-weight: bold; */
}
a{
font-size: 20px;
color: rgba(0, 0, 255, .75) ;
}
a:hover{
color: rgba(255, 0, 0, .9);
text-decoration-line: none;
}
.bottom{
width: 100%;
border: 0 solid transparent;
font-size: 25px;
overflow: hidden;
}
.top{
margin-bottom: -9999px;
padding-bottom: 9999px;
width: 50%;
font-size: 20px;
float: left;
/* overflow:hidden; */
}

.left{
background-color: rgba(253,253,253,1);
color: rgba(0,0,0,1);
font-size: 0.7em;
width: 55%;
}
.right{
background-color: rgba(255,255,255,1);
color: rgba(0,0,0,1);
border-width: 5px;
width: 45%;
}
a{
font-size: 20px;
color: rgba(3, 152, 158, 1);;
}
a:hover{
color: rgba(255, 0, 0, .9);
text-decoration-line: none;
}
